.item-page {
  min-height: 100vh;
  background: #f3f4f6;
  padding: 20px;
  font-family: Arial;
}

.item-voltar {
  margin-bottom: 16px;
}

.item-topo {
  background: white;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.item-codigo {
  color: green;
}

.item-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 10px;
  flex: 1;
}

.mov-btn {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* padrão */
.mov-btn-entrada {
  background: #d1fae5;
}

.mov-btn-saida {
  background: #fee2e2;
}

/* ativo */
.mov-btn-entrada.active {
  background: #16a34a;
  color: white;
}

.mov-btn-saida.active {
  background: #dc2626;
  color: white;
}

.input, .textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.btn-salvar {
  width: 100%;
  background: green;
  color: white;
  padding: 10px;
}
